
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../../common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/**
 * Header 13 stylesheet  
 * */
.header-13 {
  position: absolute;
  width: 100%;
  margin: 140px auto;
  z-index: 5;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
@media (max-width: 767px) {
  .header-13 {
    text-align: center;
  }
  .header-13 .brand {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -50px;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  .header-13 .brand {
    top: 0;
  }
}
.header-13 .brand img {
  width: 100px !important;
  height: 100px !important;
  margin-top: 10px !important;
}
.loaded .header-13 {
  -webkit-transition: .6s 1.4s top, 1.2s 1.4s opacity;
  -moz-transition: .6s 1.4s top, 1.2s 1.4s opacity;
  -o-transition: .6s 1.4s top, 1.2s 1.4s opacity;
  transition: .6s 1.4s top, 1.2s 1.4s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-13 {
    text-align: left;
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}
.header-13-sub {
  position: relative;
  padding-top: 140px;
  padding-bottom: 30px;
  color: #bdc3c7;
}
.header-13-sub.v-center,
.header-13-sub .v-center {
  display: table;
  width: 100%;
}
.header-13-sub.v-center > div,
.header-13-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-13-sub.v-center.row:before,
  .header-13-sub .v-center.row:before,
  .header-13-sub.v-center.row:after,
  .header-13-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-13-sub.v-center,
  .header-13-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-13-sub.v-center.row,
  .header-13-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-13-sub.v-center.row:before,
  .header-13-sub .v-center.row:before,
  .header-13-sub.v-center.row:after,
  .header-13-sub .v-center.row:after {
    display: none;
  }
  .header-13-sub.v-center.row > *,
  .header-13-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-13-sub h3 {
  font-size: 29.000000000000004px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 26px;
  font-weight: 300;
}
.header-13-sub .lead {
  font-size: 22px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header-13-sub .col-sm-5.col-sm-offset-1 {
  margin-top: 220px;
}
@media (max-width: 767px) {
  .header-13-sub .col-sm-5.col-sm-offset-1 {
    margin-top: 0;
  }
}
.header-13-sub .btn {
  font-size: 22px;
  line-height: 21px;
  padding: 15px 20px 16px;
  display: block;
}
.header-13-sub .background {
  background-image: url("../../../common-files/img/header/instagram_collage.jpg");
  opacity: 90;
  filter: alpha(opacity=9000);
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.header-13-sub .col-sm-5.col-sm-offset-1 {
  position: relative;
  left: -15%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-13-sub .col-sm-5.col-sm-offset-1 {
  -webkit-transition: .8s .4s left, 1.2s .4s opacity;
  -moz-transition: .8s .4s left, 1.2s .4s opacity;
  -o-transition: .8s .4s left, 1.2s .4s opacity;
  transition: .8s .4s left, 1.2s .4s opacity;
  left: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-13-sub .col-sm-4.col-sm-offset-1 {
  position: relative;
  right: -100px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.loaded .header-13-sub .col-sm-4.col-sm-offset-1 {
  -webkit-transition: .8s right, 1.2s opacity;
  -moz-transition: .8s right, 1.2s opacity;
  -o-transition: .8s right, 1.2s opacity;
  transition: .8s right, 1.2s opacity;
  right: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-13-sub {
    padding-top: 90px;
  }
  .header-13-sub > div > .container {
    padding-top: 180px;
  }
  .header-13-sub .col-sm-5.col-sm-offset-1,
  .header-13-sub .col-sm-4.offset-1 {
    -webkit-transition-duration: 0 !important;
    -moz-transition-duration: 0 !important;
    -o-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition-delay: 0 !important;
    -moz-transition-delay: 0 !important;
    -o-transition-delay: 0 !important;
    transition-delay: 0 !important;
  }
}

.header-13 .navbar {
  position: absolute;
  z-index: 2;
  top: 45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.header-13 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-13 .navbar .brand {
  font-size: 25px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.header-13 .navbar .brand:hover,
.header-13 .navbar .brand:focus,
.header-13 .navbar .brand.active {
  color: #ffffff;
}
.header-13 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-13 .navbar .nav > li {
  margin-left: 20px;
}
.header-13 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-13 .navbar .nav > li > a {
  padding: 35px 0 27px;
  font-size: 13px;
  font-weight: normal;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-13 .navbar .nav > li > a:hover,
.header-13 .navbar .nav > li > a:focus,
.header-13 .navbar .nav > li > a.active {
  color: rgba(0, 0, 0, 0.4);
}
.header-13 .navbar .nav > li.active > a {
  color: rgba(0, 0, 0, 0.4);
}
.header-13 .navbar .nav > li.active > a:hover,
.header-13 .navbar .nav > li.active > a:focus,
.header-13 .navbar .nav > li.active > a.active {
  color: rgba(0, 0, 0, 0.4);
}

/**
 * Content 15 stylesheet  
 * */
.content-15 {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.content-15 h3 {
  margin-bottom: 68px;
  font-size: 37px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-15 h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.content-15 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features {
  margin-top: 120px;
}
.content-15 .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-size: 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15 .features h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-15 .features h6 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
  }
}
.content-15 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features .col-sm-7 img {
  width: 100%;
}
@media (max-width: 767px) {
  .content-15 .features .col-sm-7 {
    text-align: center;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .content-15 .features {
    margin-top: 76px;
  }
}

/**
 * Content 4 stylesheet  
 * */
.content-4 {
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}
.content-4 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 24px;
  font-weight: 300;
}
.content-4 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 26px;
}
.content-4 .features h6 {
  margin: 0 0 13px;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
}
.content-4 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-4 .features > [class*="col-sm-"] {
  position: relative;
  padding-top: 180px;
  padding-bottom: 50px;
}
.content-4 .features > [class*="col-sm-"] > img:first-child {
  position: absolute;
  left: 15px;
  top: 30px;
}
.content-4 .features:last-child > [class*="col-sm-"],
.content-4 .features.last > [class*="col-sm-"] {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .content-4 .features > [class*="col-sm-"],
  .content-4 .features:last-child > [class*="col-sm-"],
  .content-4 .features.last > [class*="col-sm-"] {
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .content-4 .features:last-child > [class*="col-sm-"]:last-child,
  .content-4 .features.last > [class*="col-sm-"]:last-child,
  .content-4 .features:last-child > [class*="col-sm-"].last,
  .content-4 .features.last > [class*="col-sm-"].last {
    padding-bottom: 0;
  }
}
.content-32 {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: #f2f2f1;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-32 .lead {
  font-size: 20px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 36px;
}
.content-32 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 48px;
}
.content-32 .features {
  border-top: 2px solid #e6e6e5;
  margin-top: 56px;
  padding-top: 85px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
@media (max-width: 767px) {
  .content-32 .features {
    padding-top: 70px;
  }
}
.content-32 .features h6 {
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  .content-32 .features h6 {
    margin: 20px 0 10px;
  }
}
@media (max-width: 767px) {
  .content-32 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.content-35 {
  position: relative;
  color: #7f8c8d;
  overflow: hidden;
}
.content-35 .container {
  padding-top: 190px;
  padding-bottom: 100px;
  min-height: 925px;
}
@media (max-width: 767px) {
  .content-35 .container {
    min-height: 0;
    padding-top: 160px;
    padding-bottom: 80px;
  }
}
.content-35 .bx-viewport {
  border-radius: 0!important;
  box-shadow: none!important;
  border: none!important;
  background: none!important;
}
.content-35 > * {
  position: relative;
}
.content-35 h2 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
  margin: 0 0 40px;
}
.content-35 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 25px;
}
.content-35 .btn {
  font-weight: 500;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 20px;
  color: #fff;
}
.content-35 .btn:hover {
  color: #fff;
}
.content-35 .btn.btn-inverse {
  background: #2c3e50;
}
.content-35 a {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 1px solid #abb0b5;
}
.content-35 a:hover {
  color: #64686c;
}
.content-35 .ask-question {
  font-size: 20px;
  display: inline-block;
  line-height: 26px;
}
.content-35 .tech-info {
  color: #7f8c8d;
  padding-top: 80px;
  margin: 0;
}
.content-35 .tech-info dt,
.content-35 .tech-info dd {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.content-35 .tech-info dt {
  float: left;
  width: 190px;
}
.content-35 .tech-info dd {
  display: block;
  overflow: hidden;
  color: #2c3e50;
}
.content-35 .columns {
  margin-top: 50px;
}
.content-35 .columns h3 {
  font-size: 20px;
  color: #34495e;
  line-height: 28px;
  margin: 0 0 20px;
  font-weight: 500;
}
.content-35 .columns p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-35 .columns a {
  display: block;
  border: none;
}
.content-35 .columns img,
.content-35 .columns strong,
.content-35 .columns b {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.content-35 .columns img {
  margin-top: 20px;
  margin-bottom: 45px;
}
.content-35 .columns a:hover img {
  opacity: 0.9;
}
.content-35 .columns b {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: -1px;
  color: #34495e;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.content-35 .columns h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
  letter-spacing: -1px;
  color: #34495e;
}
.content-35 .columns a:hover strong {
  border-bottom: 1px solid #d5d6d6;
}
.content-35 .columns span {
  font-size: 16px;
  line-height: 26px;
  color: #7f8c8d;
  display: block;
}
.content-35 .columns span.svgIcon {
  display: inline-block;
  padding-left: 8px;
}
@media (max-width: 767px) {
  .content-35 .columns .col-sm-6:not(:first-child) {
    margin-top: 60px;
  }
}
.content-35 .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-35 .background > .container {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .content-35 .background > .container {
    height: 250px;
    margin-bottom: 60px;
  }
}
.content-35 .background.bread .col-sm-4 > div {
  background: none;
}
.content-35 .background.doc .col-sm-4 > div {
  background: #d5e3e0;
}
.content-35 .background .col-sm-4 {
  position: absolute;
  height: 100%;
}
.content-35 .background .col-sm-4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1000px;
  background: #f3f3f3;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div {
    position: static;
    width: 100%;
    overflow: hidden;
  }
}
.content-35 .background .col-sm-4 > div img {
  height: 90% !important;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div img {
    height: auto;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 {
    left: 0;
    right: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .content-35 .background {
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .content-35 {
    padding-top: 0;
  }
}
.content-35 .contact {
  padding: 30px 0 10px 92px;
  background: url('../../../common-files/img/content/anthony.png') no-repeat center left;
  color: #7f8c8d;
  font-size: 16px;
  line-height: 26px;
  border-top: 1px solid #ebedee;
  margin-top: 85px;
}
.content-35-slider-item {
  overflow: hidden;
}
.content-35-customPager {
  position: absolute;
  left: 50%;
  top: 100px;
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .content-35-customPager {
    margin-left: -88px;
  }
}
@media (max-width: 1199px) {
  .content-35-customPager {
    margin-left: -70px;
  }
}
@media (max-width: 991px) {
  .content-35-customPager {
    margin-left: -52px;
  }
}
@media (max-width: 767px) {
  .content-35-customPager {
    margin-left: 15px;
    left: 0;
    top: 70px;
  }
}
.content-35-customPager li {
  float: left;
  margin-right: 15px;
}
.content-35-customPager li a {
  -webkit-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  -moz-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  -ms-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  -o-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  list-style: none;
  cursor: pointer;
  width: 2px;
  height: 2px;
  border: 2px solid #2c3e50;
  overflow: hidden;
  display: block;
  color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 3px;
  text-indent: -20px;
}
.content-35-customPager li a:hover,
.content-35-customPager li a:focus,
.content-35-customPager li a.active {
  background-color: #2c3e50;
  opacity: 1;
  color: #2c3e50;
}
.content-35-customPager li .fui-list {
  position: relative;
  top: -6px;
  cursor: pointer;
}
.content-35-customPager li .fui-list:before {
  color: #303336;
  font-size: 16px;
  -webkit-transition: color 0.6s;
  -moz-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
}
.content-35-customPager.showmenu .fui-list:before {
  color: #7f8c8d;
}
.content-35-customPager.showmenu a {
  border: none;
  border-bottom: 1px dashed #7f8c8d;
  width: auto;
  height: auto;
  font-size: 16px;
  color: #7f8c8d;
  position: relative;
  top: -4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background: none !important;
  line-height: 18px;
  padding: 0;
  text-indent: 0;
}
.content-35-customPager.showmenu a.active,
.content-35-customPager.showmenu a:hover,
.content-35-customPager.showmenu a:focus {
  border-bottom-color: transparent;
  color: #2c3e50;
}
.content-35-customPager .manuicon {
  position: relative;
  top: -7px;
  cursor: pointer;
}

/**
 * Price 4 stylesheet  
 * */
.price-4 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.price-4 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #bdc3c7;
  font-size: 18px;
}
.price-4 .plan > * {
  padding-left: 10px;
  padding-right: 10px;
}
.price-4 .plan b {
  color: #7f8c8d;
}
.price-4 .plan .title {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 700;
  padding: 32px 0 7px;
}
.price-4 .plan .price {
  padding-bottom: 30px;
  border-bottom: 2px solid #ebedee;
}
.price-4 .plan .description {
  padding: 25px 40px;
  font-size: 18px;
  color: #bdc3c7;
}
.price-4 .plan .description b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-4 .plan .description .description-box {
  padding: 16px 0;
  border-top: 2px solid #ebedee;
}
.price-4 .plan .description .description-box:first-child {
  border-top: 0;
}
.price-4 .plan .btn {
  display: block;
  background: #bdc3c7;
  color: white;
  width: auto;
  margin: 0 -2px -2px;
  padding: 22px 20px 24px;
  font-size: 22px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
.price-4 .plan .btn:hover,
.price-4 .plan .btn:focus {
  background: #1abc9c;
}
.price-4 .plan .btn:active {
  background: #16a085!important;
}
.price-4 .plan,
.price-4 .plan .title,
.price-4 .plan .price {
  -webkit-transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  -moz-transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  -o-transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
.price-4 .plan:hover {
  border-color: #1abc9c;
}
.price-4 .plan:hover .title,
.price-4 .plan:hover .price,
.price-4 .plan:hover .btn {
  background: #1abc9c;
  border-color: #1abc9c;
}
.price-4 .plan:hover .title,
.price-4 .plan:hover .price {
  color: #fff;
}
.price-4 .plan:hover .price {
  color: rgba(255, 255, 255, 0.7);
}
.price-4 .description-detail {
  color: #95a5a6;
}
.price-4 .description-detail > * + * {
  margin-top: 75px;
}
.price-4 .description-detail h6 {
  color: #1abc9c;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}
.price-4 .description-detail [class*="fui-"] {
  color: #bdc3c7;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  .price-4 .description-detail > * {
    margin-top: 50px;
  }
  .price-4 .description-detail > * > * + * {
    margin-top: 50px;
  }
}

/**
 * Copntact 4 stylesheet  
 * */
.contacts-4 {
  background: #34495e url('../../../common-files/img/map.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #bdc3c7;
  text-align: right;
  padding-top: 175px;
  padding-bottom: 180px;
}
.contacts-4 h3 {
  font-size: 30px;
  margin: 0 0 12px;
  color: #fff;
  font-weight: 300px;
}
.contacts-4 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-4 a {
  color: #1abc9c;
}
.contacts-4 a:hover,
.contacts-4 a:focus,
.contacts-4 a.active {
  color: #15967d;
}
.contacts-4 .content {
  margin: 0 80px;
}
@media (max-width: 767px) {
  .contacts-4 .content {
    margin: 0;
  }
}
.contacts-4 .social-btns {
  white-space: nowrap;
  margin-bottom: 35px;
}
.contacts-4 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
  width: 30px;
  height: 38px;
  overflow: hidden;
  text-align: center;
  color: #1abc9c;
}
.contacts-4 .social-btns > *:first-child {
  margin-left: 0;
}
.contacts-4 .social-btns > * > * {
  display: block;
  position: relative;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.contacts-4 .social-btns > * > *:first-child {
  color: #fff;
}
.contacts-4 .social-btns > *:hover > * {
  top: -100%;
}
.contacts-4 .links {
  margin: 35px 0 0;
  font-size: 47px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  word-break: break-all;
}
.contacts-4 .links a {
  padding-bottom: 3px;
  color: #14ddb3;
  border-bottom: 2px solid;
}
.contacts-4 .links a:hover,
.contacts-4 .links a:focus,
.contacts-4 .links a.active {
  color: #10b18f;
}
@media (max-width: 480px) {
  .contacts-4 .links a {
    font-size: 26px;
  }
}

/**
 * Footer 11 stylesheet  
 * */
.footer-11 {
  padding-top: 110px;
  text-align: center;
}
.footer-11 > .container {
  padding-bottom: 40px;
  position: relative;
}
.footer-11 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-11 a:hover,
.footer-11 a:focus,
.footer-11 a.active {
  color: #3498db;
}
.footer-11 .brand {
  position: absolute;
  top: 0;
  left: 15px;
}
.footer-11 .brand img:first-child {
  float: left;
  margin: 0 15px 0 0;
}
.footer-11 nav {
  margin: 0 100px;
}
.footer-11 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
}
.footer-11 nav ul li {
  display: inline-block;
  margin-left: 25px;
}
.footer-11 nav ul li:first-child {
  margin-left: 0;
}
.footer-11 nav ul li a {
  font-size: 18px;
  font-weight: normal;
  font-weight: 500;
  color: #34495e;
}
.footer-11 nav ul li a:hover,
.footer-11 nav ul li a:focus,
.footer-11 nav ul li a.active {
  color: #bdc3c7;
}
.footer-11 .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 15px;
}
.footer-11 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  width: 16px;
  height: 19px;
  overflow: hidden;
  text-align: center;
}
.footer-11 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-11 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-11 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-11 .social-btns > *:hover > * {
  top: -100%;
}
.footer-11 .additional-links {
  border-top: 2px solid #ecf0f1;
  background: #f4f5f6;
  padding: 50px 0;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
}
@media (max-width: 767px) {
  .footer-11 .additional-links {
    margin-right: -5px;
    margin-left: -5px;
  }
  .footer-11 .additional-links .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer-11 .additional-links .lead {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
}
.footer-11 .additional-links .lead b {
  font-weight: 500;
}
.footer-11 .additional-links a {
  margin: 0 10px;
  color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-11 .additional-links a:hover,
.footer-11 .additional-links a:focus,
.footer-11 .additional-links a.active {
  color: #778485;
}
@media (max-width: 480px) {
  .footer-11 {
    border-top: 0;
    text-align: left;
  }
  .footer-11 .brand {
    display: none;
  }
  .footer-11 nav {
    margin-left: -20px;
    margin-right: -20px;
  }
  .footer-11 nav ul li {
    float: none;
    margin: 0;
    display: block;
    text-align: left;
    border-bottom: 2px solid #ecf0f1;
    padding: 11px 20px;
  }
  .footer-11 nav ul li:first-child {
    margin-top: 0;
    border-top: 2px solid #ecf0f1;
  }
  .footer-11 .social-btns {
    position: static;
    margin-top: 30px;
    margin-bottom: 11px;
  }
  .footer-11 .additional-links a {
    margin: 0 20px 0 0;
    line-height: 18.0667px;
  }
}


