{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta property="og:image" content="{% static 'common-files/img/header/instagram_collage.jpg' %}"/>
    <meta name="description" content="С нашим сервисом вы сможете значительно увеличить количество активных подписчиков на вашей Instagram странице">
    <meta name='yandex-verification' content='4b1e988b5b5fce40' />
    
	<meta property="og:image:secure_url" content="{% static 'common-files/img/header/instagram_collage.jpg' %}" />
	<meta property="og:title" content="Insta Robot">
	<meta property="og:description" content="С нашим сервисом вы сможете значительно увеличить количество активных подписчиков на вашей Instagram странице">
    {% block base_css %}
    	<link rel='image_src' href="{% static 'common-files/img/header/instagram_collage.jpg' %}" type='image/jpeg'>
    	<link rel="shortcut icon" href="{% static 'flat-ui/images/favicon.ico' %}">
  		<link rel="stylesheet" href="{% static 'flat-ui/bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'flat-ui/css/flat-ui.css' %}">
      <link rel="stylesheet" href="{% static 'common-files/css/icon-font.css' %}">
      <!-- end -->
      <link rel="stylesheet" href="{% static 'common-files/css/animations.css' %}">
      <link rel="stylesheet" href="{% static 'ui-kit/ui-kit-header/css/ui-kit-styles.css' %}">
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="dockbar navbar-fixed-top" id="header-dockbar">
  <menu class="main-menu">
    <div class="container">
      <div class="row">
        <a href="{% url 'index' %}" class="man-brand col-sm-3">
          <span class="logotype">Insta</span>
          <span class="doc-title">Robot</span>
        </a>
        <a class="man-brand col-sm-3" href="{% url 'stats' %}"><span class="logotype">Статистика</span></a>
<!--         <button id="open-close-menu" class="menu-btn btn-inverse"><span class="fui-list"></span>
        </button> -->
        <!-- <dl class="col-sm-8">
          <dd><a class="active" href="{% url 'stats' %}">Статистика</a>
          </dd>
        </dl> -->
      </div>
    </div>
  </menu>
  <!-- <menu class="colapsed-menu">
    <dl>
      <dd><a href="{% url 'index' %}">Главная</a>
      </dd>
      <dd><a href="{% url 'stats' %}">Статистика/a>
      </dd>
    </dl>
  </menu> -->
</nav>
{% block content %}
{% endblock %}

{% block base_js_content %}
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
          (function (d, w, c) {
              (w[c] = w[c] || []).push(function() {
                  try {
                      w.yaCounter29115905 = new Ya.Metrika({
                          id:29115905,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true,
                          webvisor:true
                      });
                  } catch(e) { }
              });

              var n = d.getElementsByTagName("script")[0],
                  s = d.createElement("script"),
                  f = function () { n.parentNode.insertBefore(s, n); };
              s.type = "text/javascript";
              s.async = true;
              s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

              if (w.opera == "[object Opera]") {
                  d.addEventListener("DOMContentLoaded", f, false);
              } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="//mc.yandex.ru/watch/29115905" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47557613-2', 'auto');
        ga('send', 'pageview');

      </script>
      
{% endblock %}
{% block js_content %}
{% endblock %}
</body>
</html>