{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} Insta Robot {% endblock %}
  <head>
    <meta charset="utf-8">
    <title>Daniyar</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    {% block css %}
      
      
      <link rel="stylesheet" href="{% static 'flat-ui/bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'flat-ui/css/flat-ui.css' %}">
      <!-- Using only with Flat-UI (free)-->
      <link rel="stylesheet" href="{% static 'common-files/css/icon-font.css' %}">
      <!-- end -->
      <link rel="stylesheet" href="{% static 'common-files/css/animations.css' %}">
      <link rel="stylesheet" href="{% static 'daniyar.me/static/css/style.css' %}">
    {% endblock %}
  </head>
{% block content %}
<!-- header-13 -->
      <header class="header-13">
        <div class="container">
          <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
              <a class="brand" href="#">
                <img src="{% static 'common-files/icons/Camera@2x (2).png' %}" width="100" height="100" alt="">
              </a>
            </div>
          </div>
        </div>
      </header>
      <section class="header-13-sub v-center bg-midnight-blue">
        <div>
          <div class="background">&nbsp;</div>
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1">
                <h3>Простой способ набрать подписчиков в Instagram</h3>
                <p class="lead">Уже сегодня вы сможете воспользоваться данной услугой и начать путь по продвижению вашей Instagram страницы</p>
                <br>
                <div class="row">
                  <div class="col-md-8">
                    <a class="btn btn-danger btn-huge" href="#price">Начать Пользоваться</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-sm-offset-1">
                <img src="{% static 'common-files/img/header/instagram_iphone.png' %}" class="hidden-xs" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <div class="delimiter"></div> -->
<!-- content-15 -->
      <section class="content-15 v-center">
        <div>
          <div class="container" style='margin-top:40px;'>
            <div class="row">
              <h3 class="col-sm-8 col-sm-offset-1">Приветствую, меня зовут Insta Robot и сегодня я хотел бы рассказать вам о сервисе, который я предоставляю. <!-- Но сначала я хотел бы сделать сделать вступление, и рассказать немного о потрясающем сервисе - Instagram. -->
              </h3>
              <div class="col-sm-2" style='text-align:center;'>
                  <img src="{% static 'common-files/img/logo_big2.jpg' %}" width='300' />
              </div>
            </div>
            <div class="row" style='margin-top:20px;'>
              <!-- <div class="col-sm-6"> -->
              <div class="col-sm-10 col-sm-offset-1">
                <p>Но вначале небольшое вступление о самом сервисе <a href='http://instagram.com'>Instagram</a>. Проект был создан двумя разработчиками: <a href='http://en.wikipedia.org/wiki/Kevin_Systrom'>Кевином Систромом</a> и <a href='http://en.wikipedia.org/wiki/Mike_Krieger'>Майком Кригером</a> в Октябре 2010-го года и за четыре с половиной года набрал более 300 миллионов пользователей благодаря фокусированию на одном функционале, а именно фото-видео обмену с элементами социальных сетей. В данный момент приложение Instagram доступно на всех популярных платформах, причем большинство из них написаны сторонними компаниями благодаря открытому API. Компания была куплена Facebook в апреле 2012-го года за 1 миллиард $.  
                </p>
              </div>
              <div class="col-sm-10 col-sm-offset-1">
                <p>
                  Популяризация фотографий молодежью, обильное количество различных фильтров и простота использования притянуло людей активно пользоваться данным приложением. Немного времени спустя такие компании как <a href='https://instagram.com/target/'>Target</a>, <a href='https://instagram.com/nordstrom/'>Harrods</a> и <a href='https://instagram.com/harrods/'>Nordstrom</a> смекнули, что Instagram это большой рынок активных пользователей, которым можно продавать свои продукты. Вот основные преимущества ведения бизнеса в Инстаграме: 
                </p>
              </div>
            </div>
            <div class="row features">
              <div class="col-sm-7">
                <img src="{% static 'common-files/img/content/topshop.jpg' %}" width="540" height="441" alt="">
              </div>
              <div class="col-sm-4 col-sm-offset-1">
                <h6>Стоимость</h6>
                <p>Instagram - бесплатный, в этом случае вам не нужно платить за разработку и хостинг своего сайта</p>
                <h6>Товары</h6>
                <p>Ваш контент появляется у ваших подписчиков в ленте. По количеству лайков вы можете отследить популярность товара/сервиса.</p>
                <h6>Продвижение</h6>
                <p>Интуитивная функция добавления; и мы медленно подошли к моей главной задаче: набрать вам клиентов. </p>
              </div>
            </div>
          </div>
        </div>
      </section>

	
<!-- content-32 -->
	<section class="content-32">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <h3>О Сервисе Insta Robot</h3>
              <p class="lead">Моя главная задача - набор уникальных подписчиков для ваших страниц. Работая напрямую с открытым API Инстаграма, я подписываюсь на юзеров, лайкаю их фотографии и в случае если им понравится ваша страница они подписываются на вас. <b>Да, это так просто, ничего сверхъестесственного.</b> Главная особенность - работа 7 дней в неделю, 24 часа в сутки. Так как инстаграм ограничил подписку на юзеров до 20ти в час, я вынужден подчиниться данному ограничению. Но 20 пользователей в час это 480 пользователей в сутки и в среднем 7000 подписок в месяц из которых часть будет обязательно подписываться на вас. </p>
            </div>
          </div>
        </div>
        <!-- <div class="features">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <h6>High Resolution</h6>
				We did a 2.5K size high resolution photo that will suit even for a very large web site.
              </div>
              <div class="col-sm-4 col-sm-offset-1">
                <h6>Easy to Use</h6>
				Blocks fixed to 12 Grid system. It allows you to find understanding between the designer and developer.
              </div>
              <div class="col-sm-3 col-sm-offset-1">
                <h6>Many Components</h6>
				To get started, you select the desired sample and base the entire website on it.
              </div>
            </div>
          </div>
        </div> -->
      </section>
<!-- content-4 -->
  <section class="content-4">
        <div class="container">
          <h3 style='text-align:center;'>Главные достоинства сервиса</h3>
          <div class="row features">
            <div class="col-sm-4">
              <img src="{% static 'common-files/icons/clock@2x.png' %}" alt="" width="104" height="104">
              <h6>Круглосуточная работа</h6>
              <p>Сервис работает 24/7 без выходных и праздников. ps (кроме Хануки) pps (Да, я робот-еврей)</p>
            </div>
            <div class="col-sm-4">
              <img src="{% static 'common-files/icons/rocket@2x.png' %}" alt="" width="101" height="101">
              <h6>Свободное время</h6>
              <p>Вы можете сфокусироваться на контенте. Все время, что вы раньше тратили на добавление подписчиков вручную, теперь свободно.</p>
            </div>
            <div class="col-sm-4">
              <img src="{% static 'common-files/icons/zombie.jpg' %}" alt="" width="117" height="106">
              <h6>Анти-Зобми</h6>
              <p>В отличии от других сервисов, что предлагают зомби-подписчиков мгновенно, я подбираю живых и активных юзеров, которые будут просматривать и лайкать вашу ленту</p>
            </div>
          </div>
        </div>
      </section>
<!-- content-35 -->
      <section class="content-35">
        <h3 style='text-align:center;'>Мои Клиенты</h3><br>
        <ul class="content-35-customPager">
          <li class="menuicon"><span aria-hidden="true" class="fui-list"></span>
          </li>
          <li><a data-slide-index="0" class="active">@duman_rc</a>
          </li>
          <!-- <li><a data-slide-index="1" class="">@tetrus.club</a>
          </li>
          <li><a data-slide-index="2" class="">@kuralays</a>
          </li> -->
        </ul>
        <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 925px;"><ul class="content-35-slider" style="width: 515%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-40px, 0px, 0px);">
          <li class="content-35-slider-item" style="float: left; list-style: none; position: relative; width: 1351px;">
            <div class="background bread">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div>
                      <img src="{% static 'common-files/duman2.jpg' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-7 col-sm-offset-5">
                  <h2 style='margin-bottom:16px;'>Думан</h2>
                  <p>Развлекательный центр <a href='http://instagram.com/duman_rc'>Думан</a> это уникальный комплекс развлечений, состоящий из: планетария, "Джунгли", экзотариума и океанариума с услугой экспресс погружения.</p>
                  <p>Освободившись от необходимости подписываться вручную маркетологи смогли сфокусироваться на контенте и с помощью Insta Robot Думан увеличил количество подписчиков в 8 раз всего за месяц</p>
                  <div class="row columns">
                    <canvas id="myChart" width="800" height="500"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="content-35-slider-item" style="float: left; list-style: none; position: relative; width: 1351px;">
            <div class="background landscape">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div>
                      <img src="{% static 'common-files/img/content/landscape.jpg' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-5">
                  <h2>More Than Image</h2>
                  <p class="lead">We prepared some HQ photos that you can use in your projects. When you have to present an app or website on iPhone, iPad or Macbook, these images are available. It’s a quick solution if you don’t have ready-to-use images.</p>
                  <div class="row columns">
                    <div class="col-sm-6">
                      <h3>Smart Layers</h3>
                      <p>Just put the image with your App screen inside Smart Layer and get the photo.</p>
                    </div>
                    <div class="col-sm-6">
                      <h3>High Resolution</h3>
                      <p>Photos are saved at a size of 2.5K and will work even for large sites.</p>
                    </div>
                  </div>
                  <div class="contact">Photos for samples are made by <a href="#">Anton Repponen</a> during his travels around the world. Check out his amazing works!</div>
                </div>
              </div>
            </div>
          </li>
          <li class="content-35-slider-item" style="float: left; list-style: none; position: relative; width: 1351px;">
            <div class="background doc">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div>
                      <img src="{% static 'common-files/img/content/documentation.jpg' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-5">
                  <h2>Technical Information</h2>
                  <p class="lead">We will be glad to answer your questions. We strive to improve each Designmodo product and plan to release cool updates soon.</p>
                  <a href="#" class="ask-question">Ask a question</a>
                  <dl class="tech-info">
                    <dt>Release Date</dt>
                    <dd>December 16, 2013</dd>
                    <dt>Format</dt>
                    <dd>PSD, HTML, CSS, JS, LESS</dd>
                    <dt>Size</dt>
                    <dd>637 MB, Zip</dd>
                    <dt>Consists</dt>
                    <dd>
                      Components
                      <br>25 Samples
                      <br>Photos
                    </dd>
                    <dt>Botstrap Version</dt>
                    <dd>3.0.3</dd>
                    <dt>License</dt>
                    <dd>Commercial License</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>
        </ul></div><div class="bx-controls"></div></div>
      </section>
      <!-- price-4 -->
	<section class="price-4" id='price'>
        <h3 style='text-align:center;'>Цены</h3><br>
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <div class="span5 plan">
                <div class="title">Начальный план</div>
                <div class="price">от 5000тг/месяц</div>
                <div class="description">
                  <div class="description-box">
                    480 подписок в сутки
                  </div>
                  <div class="description-box">
                    страница просмотра статистики
                  </div>
                  <div class="description-box">
                    помесячная email рассылка по кол-ву подписчиков
                  </div>
                  <div class="description-box">
                    первые 5 дней - бесплатно
                  </div>
                </div>
                <a class="btn btn-huge" href="#contacts">Выбрать план</a>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 description-detail">
              <div class="row">
                <h4 style='text-align:center;'> Политика </h3><br/><br/>
                <div class="col-sm-6">
                  <span class="fui-cmd"></span>
                  <h6>Никакого спама</h6>
                  Я отказываюсь писать комменты под фотографиями пользователей. Им это не нравится
                </div>
                <div class="col-sm-6">
                  <span class="fui-mic"></span>
                  <h6>Вы в ответе за unfollow</h6>
                  Это слишком большая нагрузка.
                  Есть сторонние сервисы которые помогают отписываться такие как: <a href='https://play.google.com/store/apps/details?id=com.justunfollow.android&hl=en'>JustUnfollow</a> для Android или <a href='https://itunes.apple.com/us/app/followers-+-for-instagram/id566223681?mt=8'>Followers + for Instagram</a> для IOS
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span class="fui-user"></span>
                  <h6>Важность контента</h6>
                  Важно точно знать чего хотят видеть подписчики, иначе даже при большом числе юзеров вы не добьетесь результата
                </div>
                <div class="col-sm-6">
                  <span class="fui-windows"></span>
                  <h6>Магазины или люди</h6>
                  Instagram не отличает людей от магазинов/компаний. Такой функции попросту нет. Поэтому время от времени они все же будут проскакивать в подписках. Тут уж ничего не поделать
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.container-->
      </section>

	  <!-- contacts-4 -->
      <section class="contacts-4" id='contacts'>
        <div class="container">
          <div class="content">
            <div class="social-btns">
              <!-- <a href="#">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
              </a> -->
              <a href="https://www.facebook.com/mussakulov">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
              </a>
              <!-- <a href="#">
                <div class="fui-vimeo"></div>
                <div class="fui-vimeo"></div>
              </a> -->
            </div>
            <h3>Свяжитесь со мной</h3>
            <p>Напишите на email или позвоните по телефону
              <br class="hidden-phone">и мой создатель ответит на ваши вопросы и <br> расскажет о дальнейших действиях.</p>
            <div class="links">
              <a href="#">+7 777 371 3880</a><br/>
              <a href="#">dmussaku@gmail.com</a>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-11">
        <!-- <div class="container">
          <a class="brand" href="#">
            <img src="{% static 'common-files/icons/infinity-bw@2x.png' %} width="42" height="21" alt="">
          </a>
          <nav>
            <ul>
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">Blog</a>
              </li>
              <li><a href="#">Portfolio</a>
              </li>
              <li><a href="#">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="social-btns">
            <a href="#">
              <div class="fui-vimeo"></div>
              <div class="fui-vimeo"></div>
            </a>
            <a href="#">
              <div class="fui-facebook"></div>
              <div class="fui-facebook"></div>
            </a>
            <a href="#">
              <div class="fui-twitter"></div>
              <div class="fui-twitter"></div>
            </a>
          </div>
        </div> -->
        <div class="additional-links">
          <div class="container">
            <p class="lead"><b><span id='counter'>35000</span></b> подписчиков добавлено с Февраля</p>
            <a href="#">Условия Договора</a>
            <a href="#">Политика Конфиденциальности</a>
            <a href="/stats/">Статистика</a>
            <a href="#">Скидки</a>
            <a href="#">Создатель</a>
          </div>
        </div>
      </footer>
    {% endblock %}
    {% block js_content %}
      <script src="{% static 'common-files/js/jquery-1.10.2.min.js' %}"></script>
      <script src="{% static 'flat-ui/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'common-files/js/modernizr.custom.js' %}"></script>
      <script src="{% static 'common-files/js/page-transitions.js' %}"></script>
      <script src="{% static 'common-files/js/froogaloop.min.js' %}"></script>
      <script src="{% static 'common-files/js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
      <script src="{% static 'common-files/js/startup-kit.js' %}"></script>
      <script src="{% static 'common-files/js/jquery.parallax.min.js' %}"></script>
      <script src="{% static 'common-files/js/easing.min.js' %}"></script>
      <script src="{% static 'common-files/js/jquery.svg.js' %}"></script>
      <script src="{% static 'common-files/js/jquery.svganim.js' %}"></script>
      <script src="{% static 'common-files/js/jquery.bxslider.min.js' %}"></script>
      <script src="{% static 'common-files/js/masonry.pkgd.min.js' %}"></script>
      <script src="{% static 'daniyar.me/static/js/script.js' %}"></script>
      <script src='{% static "Chart.js/Chart.min.js" %}'></script>
      <script src="{% static 'common-files/js/jquery.backgroundvideo.min.js' %}"></script>
      <script>
      function counter(){
        $('#counter').countTo({
              from: 0,
              to: 35000,
              speed: 1000,
              refreshInterval: 50,
              onComplete: function(value) {
                  console.debug(this);
              }
          });
      }
      </script>
      <script>
       $(document).ready(function(){
        setInterval(counter, 6000);
        var ctx = $("#myChart").get(0).getContext("2d");
        var data = {
            labels: ["17-02-15", "21-02-15", "25-02-15", "28-02-15", "04-03-15", "08-03-15", "12-03-15", "17-03-15"],
            datasets: [
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [360, 780, 937, 1123, 1486, 1735, 2008, 2336]
                }
            ]
        };
        var options = {
            bezierCurve: false,
             // Boolean - whether or not the chart should be responsive and resize when the browser does.
               responsive: true,
               //Number - Tension of the bezier curve between points
               bezierCurveTension : 0.4,
               //Boolean - Whether to show a dot for each point
              pointDot : false,
        }
        var myLineChart = new Chart(ctx).Line(data, options);
       });
      </script>
      <script>
          $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
          });
      </script>
      <script>
        (function($) {
          $.fn.countTo = function(options) {
              // merge the default plugin settings with the custom options
              options = $.extend({}, $.fn.countTo.defaults, options || {});

              // how many times to update the value, and how much to increment the value on each update
              var loops = Math.ceil(options.speed / options.refreshInterval),
                  increment = (options.to - options.from) / loops;

              return $(this).each(function() {
                  var _this = this,
                      loopCount = 0,
                      value = options.from,
                      interval = setInterval(updateTimer, options.refreshInterval);

                  function updateTimer() {
                      value += increment;
                      loopCount++;
                      $(_this).html(value.toFixed(options.decimals));

                      if (typeof(options.onUpdate) == 'function') {
                          options.onUpdate.call(_this, value);
                      }

                      if (loopCount >= loops) {
                          clearInterval(interval);
                          value = options.to;

                          if (typeof(options.onComplete) == 'function') {
                              options.onComplete.call(_this, value);
                          }
                      }
                  }
              });
          };

          $.fn.countTo.defaults = {
              from: 0,  // the number the element should start at
              to: 100,  // the number the element should end at
              speed: 1000,  // how long it should take to count between the target numbers
              refreshInterval: 100,  // how often the element should be updated
              decimals: 0,  // the number of decimal places to show
              onUpdate: null,  // callback method for every time the element is updated,
              onComplete: null,  // callback method for when the element finishes updating
          };
      })(jQuery);
    </script>
    {% endblock %}

</html>