{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} Статистика {% endblock %}
{% block css %}
	<!-- <link rel="stylesheet" href="{% static 'flat-ui/bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'flat-ui/css/flat-ui.css' %}"> -->
      <!-- Using only with Flat-UI (free)-->
{% endblock %}
{% block content %}
<div class='container' style='margin-top:30px;'>
	<form action="" method="post" >{% csrf_token %}
		<p>Введите username <input type='text' name='username' id='username'/></p>
		<p>c <input type='date' name='from_date' id='from_date' />
		по <input type='date' name='to_date' id='to_date' /></p>
		<input type="submit" value="Показать" />
	</form>
	<br/>
	<div class='row'>
		
		<div class='col-md-4'>
			<h3> Таблица по клиентам InstaRobot </h3>
			
			<table class="table stripped table-hover">
				<thead>
			        <tr>
			          <th>#</th>
			          <th>Юзер</th>
			          <th># Подписчиков</th>
			          <th>Добавлено за день</th>
			        </tr>
			     </thead>
			     <tbody>
			     	{% for client in clients %}
				        <tr>
				          <th scope="row">{{forloop.counter}}</th>
				          <td>
				          	<a href="#" class='usernames' username="{{ client.username }}">
				          		@{{client.username}} {{client.return_1}}
				          	</a>
				          </td>
				          <td>{{client.get_last_followers_num}}</td>
				          <td>{{client.added_in_one_day}}</td>
				        </tr>
			        {% endfor %}
			      </tbody>
			</table>
		</div>
		<div class='col-md-8'>
			<div id='client'>
			</div>
			<div id='average'>
				<!-- Ваша средняя конверсия = <span id='average'></span> % -->
			</div>
			<div id='added'>
			</div>
			<div>
				<canvas id="myChart" width="1000" height="1000"></canvas>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js_content %}
	<script src="{% static 'common-files/js/jquery-1.10.2.min.js' %}"></script>
	<script src='{% static "Chart.js/Chart.min.js" %}'></script>
	 <script>
	 	$(document).ready(function(){
	 		$('#myChart').html('');
	 		var username = "{{ username }}";
	 		if (username.length > 1){
	 			$('#username').val(username);
	 		}
	 		var followers = "{{ followers|safe }}";
	 		var dates = "{{ dates|safe }}";
	 		var average =  "{{ average }}";
	 		var added = "{{ added }}";
	 		var days = "{{ days }}";
	 		var client = "{{ client.username }}"
	 		followers = followers.replace('[','').replace(']','').split(',');
	 		dates = dates.replace('[','').replace(']','').split(',');
	 		if (followers.length > 1){
	 			var ctx = $("#myChart").get(0).getContext("2d");
	 			$('#client').html("<h3> Статистика для <a href='http://instagram.com/"+client+"'>@"+client+"</a></h3>");
	 			$('#average').html("Средняя конверсия за "+days+" дн." +  "= "+average+"%");
	 			$('#added').html("Добавлено пользователей за "+days+" дн." +  "= "+added);
	 			labels = dates;
 			 	data = [];
 			 	for (i in followers){
 			 		data.push(parseInt(followers[i]));
 			 	}
 			 	var data = {
				    labels: labels,
				    datasets: [
				        {
				            label: "My Second dataset",
				            fillColor: "rgba(151,187,205,0.2)",
				            strokeColor: "rgba(151,187,205,1)",
				            pointColor: "rgba(151,187,205,1)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(151,187,205,1)",
				            data: data
				        }
				    ]
				};
				var options = {
				   bezierCurve: false,
				   // Boolean - whether or not the chart should be responsive and resize when the browser does.
		    	   responsive: true,
		    	   //Number - Tension of the bezier curve between points
				   bezierCurveTension : 0.4,
				   //Boolean - Whether to show a dot for each point
					pointDot : false,
				};
				// This will get the first returned node in the jQuery collection.
				var myLineChart = new Chart(ctx).Line(data, options);
 			}
	 	});
	 </script>
	 <script>
	 	$('.usernames').click(function(){
	 		$('#username').val($(this).attr('username'));
	 		$('form').submit();
	 		return false;
	 	});	
	 </script>
	 
{% endblock %}